.PersonCard {

    border-radius: 10px;
    background-color: white;
    width: 275px;
    height: 275px;
}

.divA {
    border-radius: 15px 15px 0 0;
    height: 35%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PersonCard img{
    
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.divB {
    border-radius: 0 0 15px 15px;
    height: 65%;
    padding-top: 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    box-sizing: border-box;
}

.PersonCard h4{
    font-size: 18px;
    color: #6278F7;
    font-weight: 700;
    margin: 0 20px 0 20px;
}

.PersonCard h5{
    font-size: 16px;
    font-weight: 200;
    margin: 0 20px 0 20px;
}

.divC {

    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divD {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.delete-button, .like-button{

    border-style: none;
    background: none;

}

.fa-regular.fa-heart , .fa-xmark{
    font-size: 20px;
    color: white;
}

.fa-heart:hover , .fa-xmark:hover{
    color: coral;
}

.fa-heart:hover , .fa-xmark:hover{
    color: coral;
}

.fa-solid.fa-heart{
    font-size: 20px;
    color: coral;
}

.fa-solid.fa-heart:hover{
    color: lightgrey;
}
